{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block main %}
    <div class = "section">
        <div class = "title">
            Lorem Ipsum
        </div>
        <div class = "text">
            <p id = "base">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et elit vel lorem luctus pulvinar. Etiam efficitur tempor vehicula. Phasellus convallis quam lobortis eros posuere, non viverra velit lobortis. Etiam vel tellus quis diam venenatis varius. Mauris luctus augue commodo ligula mollis posuere nec quis sapien. Fusce sollicitudin fringilla leo, ac tincidunt mauris elementum et. Curabitur sit amet erat nunc. Aliquam condimentum tincidunt eros, eget aliquet elit laoreet ut. Nunc ultrices mattis arcu, non volutpat lectus lobortis a. Proin varius, turpis sed ullamcorper posuere, purus dolor pharetra odio, eu consectetur augue dolor sed tortor. Quisque rhoncus eu lectus vitae sollicitudin. Fusce maximus varius felis, in lacinia libero posuere sed.
                Duis eget risus venenatis, pulvinar quam a, varius quam. In faucibus urna in maximus mattis. Nam nec cursus nisl. Aenean ultricies ipsum nec justo pellentesque vehicula. Sed dapibus, est sit amet vulputate vulputate, libero elit cursus est, vitae bibendum mi nisi sit amet risus. Curabitur volutpat enim at metus tempor, quis luctus urna ultricies. Aenean nec est at purus sollicitudin lobortis in eget dolor.

                Sed eu justo arcu. Duis imperdiet pharetra ex cursus blandit. Nunc vestibulum urna in mauris eleifend, id molestie sapien bibendum. Donec non mauris vel enim laoreet lacinia. Etiam eget egestas neque, ut fringilla leo. Quisque at risus non ante feugiat tincidunt. Fusce dapibus ex id neque dapibus porttitor. Curabitur eleifend, augue non egestas elementum, libero nisl viverra lacus, in ultrices felis massa nec metus. Phasellus vitae elit varius, venenatis ante at, condimentum ante. Sed feugiat orci eu purus fringilla, condimentum faucibus augue tincidunt. Aliquam pharetra enim sit amet neque volutpat blandit. Integer orci justo, iaculis in vehicula et, rhoncus vulputate leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus eget placerat diam. Pellentesque scelerisque id odio imperdiet placerat. Quisque nibh enim, posuere efficitur mattis vitae, eleifend eu purus.

                Aliquam erat volutpat. Phasellus eu nibh quis enim aliquet viverra. Donec volutpat facilisis elementum. Quisque porta justo sed est vulputate rhoncus at ut est. Ut vestibulum viverra pellentesque. Cras ornare orci quis risus interdum lacinia. Nullam sagittis orci vulputate venenatis tristique. Sed in est tellus. Curabitur hendrerit vulputate tellus quis elementum. Morbi ultrices at ipsum sed semper. Morbi faucibus lectus et massa condimentum ultrices. Nam ultricies tellus metus, vel vestibulum erat aliquet in.

                In sodales sem vel magna dignissim mollis. Sed id libero sollicitudin, porttitor dolor vitae, tempor diam. Etiam molestie, augue quis condimentum auctor, tellus nisi porta lorem, non congue leo massa sit amet tellus. Mauris pharetra ligula in elementum posuere. Aliquam vulputate eros sit amet blandit lacinia. Vivamus vitae nisi felis. Morbi sed efficitur lorem.
            </p>
        </div>
    </div>
{% endblock %}
